.env
.env.*
!.env.example

node_modules/
dist/
coverage/
*.tsbuildinfo

.git/
.gitignore
.dockerignore
.idea/
.vscode/

Dockerfile
docker-compose*.yml

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

test/
tests/
*.test.ts
*.spec.ts
